# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
.venv
*.egg-info

# Data
data/
*.db
*.log

# Environment variables
.env
.env.test
.env.bak

# Editor
.vscode/
.windsurf/
.cursor/

# other
logs/hub.log*
.fuse*
